@charset "UTF-8";
@import "../css/vendor/normalize.css";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@-moz-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@-ms-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@-moz-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@-ms-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
body {
  font-family: "Josefin Sans", sans-serif;
  background: #3F3A34 url(../img/bg.jpg) repeat;
  color: #fff;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.4em;
  line-height: 1.6;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #b9c6ae;
  text-decoration: none;
}

a:hover {
  color: #d3dbcc;
}

button {
  outline: none;
}

.container {
  position: absolute;
  height: auto;
  width: 100%;
  margin-top: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.row {
  margin: 1em 0;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.row .col {
  float: left;
  padding-left: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col:first-child {
  padding-left: 0;
}
.row .col-2-3 {
  width: 66.6666666667%;
}
.row .col-1-2 {
  width: 50%;
}
.row .col-1-4 {
  width: 25%;
}
.row .col-1-5 {
  width: 20%;
}

.pull-left {
  float: left;
  margin: 0 1em 1em 0;
}

a.button,
.button,
button {
  display: inline-block;
  border: none;
  outline: none;
  background: #357d48;
  color: #fff;
  font-size: 1.2em;
  padding: 0.5em 1em 0.3em;
  margin: 0;
  cursor: pointer;
}
a.button:hover,
.button:hover,
button:hover {
  background: #44a15d;
}

.button-group {
  text-align: center;
}
.button-group .button {
  margin: 0.5em 0 0 1em;
}
.button-group .button:first-child {
  margin-left: 0;
}

.nypl-header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #254426;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
}
.nypl-header .lion {
  display: inline-block;
  background: transparent url(../img/NYPL_logo1_white_rev.svg) left center no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 1px;
  color: #254426;
  vertical-align: middle;
}

.leaflet-popup-content {
  color: #161514;
}

@media screen and (max-width: 700px) {
  .row .col {
    float: none;
    padding: 1em;
  }
  .row .col-2-3,
.row .col-1-2,
.row .col-1-4,
.row .col-1-5 {
    width: auto;
  }
}
form {
  font-size: 2em;
}
form label {
  display: block;
  font-size: 0.8em;
}
form input {
  display: block;
  margin: 0.3em auto 0.7em;
  padding: 0.2em 0.2em 0.05em;
  color: #161514;
  outline: none;
}
form .select-group {
  margin: 0.3em 0 0.7em;
  text-align: center;
}
form .select-group .select.button {
  display: inline-block;
  background: #908B85;
  font-size: 0.7em;
}
form .select-group .select.button:hover {
  background: #a39f9a;
}
form .select-group .select.button.active {
  background: #357d48;
  cursor: default;
}
form .select-group .select.button.active:before {
  font-size: 0.8em;
  content: "✓ ";
}
form button:before {
  content: "Map A Trip";
}
form button.loading:before {
  content: "Loading...";
  opacity: 0.5;
}

.map,
.path {
  position: absolute;
  width: 66.6666666667%;
  height: 100%;
  top: 0;
  left: 33.3333333333%;
}

.path {
  width: 33.3333333333%;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.path .title {
  padding: 20px;
  background: #d0c2a1 url(../img/bg_light_small.jpg) center no-repeat;
  background-size: cover;
  color: #1a1e21;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.path .title h2 {
  text-transform: uppercase;
  color: #254426;
  text-align: center;
  letter-spacing: 4px;
}
.path .title h2 small {
  font-size: 0.5em;
  color: rgba(37, 68, 38, 0.5);
}
.path .title p {
  font-size: 1em;
  margin: 0.4em 0;
}
.path .title .button-group .button {
  font-size: 1em;
  margin-top: 0;
  padding: 0.2em 0.6em 0em;
}
.path .title *:first-child {
  margin-top: 0;
  margin-bottom: 0;
}
.path .title *:last-child {
  margin-bottom: 0;
}
.path button {
  margin: 20px 0 0 20px;
}

.path-list-wrapper {
  position: relative;
}
.path-list-wrapper .path-line {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 26px;
  display: flex;
  flex-direction: column;
  padding: 20px 0 90px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.path-list-wrapper .path-line:before {
  content: " ";
  border-left: 3px dashed rgba(206, 68, 68, 0.4);
  flex: 1;
}

.path-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.path-list li {
  display: block;
  margin: 0;
  padding: 20px 20px 20px 60px;
  border-bottom: 1px dotted #514E49;
  position: relative;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -ms-transition: background 0.5s;
  transition: background 0.5s;
}
.path-list li:before {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  z-index: 10;
  background: #3F3A34 url(../img/bg.jpg) repeat;
}
.path-list li.hotel:before {
  content: "";
}
.path-list li.restaurant:before {
  content: "";
}
.path-list li:hover, .path-list li:hover:before {
  background: #2b2927;
}
.path-list li .name {
  font-size: 1.4em;
}
.path-list li .address {
  font-size: 1.1em;
  padding: 0.4em 0 0.6em;
  color: #908B85;
}
.path-list li .type {
  font-size: 0.9em;
  font-style: italic;
  color: #71695D;
}

.modal {
  background: rgba(22, 21, 20, 0.95);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
  overflow: auto;
  display: none;
}
.modal.active {
  display: block;
}
.modal .modal-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  color: #fff;
  display: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.modal .modal-content p {
  font-size: 1.2em;
  line-height: 1.8;
}
.modal .modal-content.active {
  display: block;
}
.modal .form-modal.loading {
  text-align: center;
  font-size: 2em;
}
.modal .form-modal.loading > * {
  display: none;
}
.modal .form-modal.loading:before {
  content: "Loading...";
  display: inline-block;
}
.modal .form-modal button {
  font-size: 0.8em;
}
.modal p.intro {
  max-width: 500px;
  margin: 0 auto 1em;
  padding: 1em 0.5em;
  font-size: 1.2em;
  line-height: 1.2;
  background: #d0c2a1 url(../img/bg_light_small.jpg) center no-repeat;
  background-size: cover;
  color: #1a1e21;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal p.intro a {
  color: #357d48;
}
.modal .modal-close {
  position: absolute;
  top: 50px;
  right: 20px;
  color: #b9c6ae;
  font-weight: bold;
  font-size: 1.6em;
}

.infobox {
  width: 440px;
  position: absolute;
  bottom: 25px;
  right: 10px;
  padding: 0.5em 0.6em 0.3em;
  background: #d0c2a1 url(../img/bg_light_small.jpg) center no-repeat;
  background-size: cover;
  color: #1a1e21;
  border: 1px solid #908B85;
  z-index: 1000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.infobox a {
  color: #357d48;
}
.infobox a.button {
  color: #fff;
  font-size: 0.9em;
}
.infobox p {
  font-size: 16px;
  margin: 0;
  line-height: 1.2;
}

/*# sourceMappingURL=trip.css.map */
