@import "../css/vendor/normalize.css";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);

@import "mixins";
@import "variables";

@import "animations";

body {
  font-family: 'Josefin Sans', sans-serif;
  background: $grayDarker url(../img/bg.jpg) repeat;
  color: $white;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.4em;
  line-height: 1.6;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: $greenLight;
  text-decoration: none;
}

a:hover {
  color: lighten($greenLight, 10%);
}

button {
  outline: none;
}

.container {
  position: absolute;
  height: auto;
  width: 100%;
  margin-top: $headerHeight;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.row {
  margin: 1em 0;
  @include clearfix();

  .col {
    float: left;
    padding-left: 1em;
    @include box-sizing();

    &:first-child {
      padding-left: 0;
    }
  }

  .col-2-3 {
    width: percentage(2/3);
  }

  .col-1-2 {
    width: 50%;
  }

  .col-1-4 {
    width: 25%;
  }

  .col-1-5 {
    width: 20%;
  }

}

.pull-left {
  float: left;
  margin: 0 1em 1em 0;
}

a.button,
.button,
button {
  display: inline-block;
  border: none;
  outline: none;
  background: $green;
  color: $white;
  font-size: 1.2em;
  padding: 0.5em 1em 0.3em;
  margin: 0;
  cursor: pointer;

  &:hover {
    background: lighten($green, 10%);
  }
}
.button-group {

  text-align: center;

  .button {
    margin: 0.5em 0 0 1em;
  }

  .button:first-child {
    margin-left: 0;
  }
}

.nypl-header {
  width: 100%;
  height: $headerHeight;
  line-height: $headerHeight;
  background: $greenDark;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;

  .lion {
    display: inline-block;
    background: transparent url(../img/NYPL_logo1_white_rev.svg) left center no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    font-size: 1px;
    color: $greenDark;
    vertical-align: middle;
  }
}

.leaflet-popup-content {
  color: $grayDarkest;
}

@media screen and (max-width: 700px) {
  .row {

    .col {
      float: none;
      padding: 1em;
    }

    .col-2-3,
    .col-1-2,
    .col-1-4,
    .col-1-5 {
      width: auto;
    }

  }
}
