@import "../css/vendor/normalize.css";

@import "mixins";
@import "variables";
@import "animations";

body {
  font-family: "Kievit","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  background: $grayDarkest;
  color: $white;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.4;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: $blueLight;
  text-decoration: none;
}

a:hover {
  color: lighten($blueLight, 10%);
}

button {
  outline: none;
}

form {
  font-size: 2.8em;

  label {
    display: block;
    font-size: 0.8em;
  }
  input {
    display: block;
    margin: 0.3em auto 1em;
    color: $grayDarkest;
    outline: none;
  }
  button {
    &:before {
      content: 'Map A Trip';
    }
    &.loading:before {
      content: 'Loading...';
      opacity: 0.5;
    }
  }
}

.container {
  position: absolute;
  height: auto;
  width: 100%;
  margin-top: $headerHeight;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.map,
.path {
  position: absolute;
  width: percentage(2/3);
  height: 100%;
  top: 0;
  left: percentage(1/3);
}
.path {
  width: percentage(1/3);
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  background: $grayDarkest;
  @include box-sizing();

  .title {
    padding: 20px;
    background: $grayDarker;
    @include box-sizing();

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  button {
    border: none;
    background: $blue;
    font-size: 1.6em;
    padding: 0.5em 1em;
    margin: 20px 0 0 20px;
    cursor: pointer;

    &:hover {
      background: lighten($blue, 10%);
    }
  }
}

.path-list-wrapper {
  position: relative;

  .path-line {
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 26px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 90px;
    @include box-sizing();

    &:before {
      content: ' ';
      border-left: 3px dashed rgba($red, 0.4);
      flex: 1;
    }
  }
}

.path-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
    margin: 0;
    padding: 20px 20px 20px 60px;
    border-bottom: 1px dotted $grayDarker;
    position: relative;
    @include transition(background 0.5s);

    &:before {
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 20px;
      height: 20px;
      line-height: 20px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f10c";
      z-index: 10;
      background: $grayDarkest;
    }

    &.hotel:before {
      content: "\f236";
    }

    &.restaurant:before {
      content: "\f0f5";
    }

    &:hover {
      &,
      &:before {
        background: lighten($grayDarkest, 8%);
      }
    }

    .name {
      font-size: 1.4em;
    }

    .address {
      font-size: 1.1em;
      padding: 0.4em 0 0.6em;
      color: $grayLight;
    }

    .type {
      font-size: 0.9em;
      font-style: italic;
      color: $gray;
    }
  }
}

.modal {
  background: rgba($grayDarkest, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
  display: none;

  &.active {
    display: block;
  }

  .modal-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    color: $white;
    display: none;
    @include transform(translateY(-60%));

    p {
      font-size: 1.2em;
      line-height: 1.8;
    }

    &.active {
      display: block;
    }
  }

  button {
    display: inline-block;
    padding: 0.3em 0.6em;
    background: $blue;
    color: $white;
    cursor: pointer;
    border: none;

    &:hover {
      background: lighten($blue, 10%);
    }

    &.form-button:before {
      content: 'Take A Trip Using The Green Books';
    }

    &.loading {
      cursor: default;
      opacity: 0.8;

      &:hover {
        background: $blueLight;
      }

      &:before {
        content: 'Loading...'
      }
    }
  }
}

.nypl-header {
  width: 100%;
  height: $headerHeight;
  line-height: $headerHeight;
  background: #1a404f;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;

  .lion {
    display: inline-block;
    background: transparent url(../img/NYPL_logo1_white_rev.svg) left center no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    font-size: 1px;
    color: #1a404f;
    vertical-align: middle;
  }
}

.leaflet-popup-content {
  color: $grayDarkest;
}

@font-face{
  font-family:"Kievit";
  font-style:normal;
  font-weight:400;
  src:url("http://ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Book.woff") format('woff');
}
