@import "base";

@import "mixins";
@import "variables";

.content {
  max-width: 960px;
  margin: $headerHeight auto 0;
  padding: 1em;
  @include box-sizing();
}

.banner {
  img {
    width: 100%;
    height: auto;
  }
}

h1 {
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.caption {
  text-align: right;
  margin: 0.2em 0 0;
  font-size: 1em;
}
