@import "base";

@import "mixins";
@import "variables";

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-layer-select {
  position: absolute;
  top: 30px;
  right: 30px;
  border: 1px solid $grayLight;

  .layer-select {
    display: block;
    cursor: pointer;
    background: $grayLighter;
    color: $grayDarkest;
    text-align: center;
    padding: 0.5em 0;
    width: 160px;

    &:hover {
      background: lighten($grayLighter, 7%);
    }

    &.active {
      background: #56b881;
      color: $white;
    }
  }
}
